:root {
    --typewriterSpeed: 6s; 
}

main.main-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "img-w img-w"
                         "subt p"
                         " memb memb "
                         "disco disco"    ;
    justify-content: center;
    align-items: center;
    grid-gap: 5em;
    padding-top: 3em;
    padding-bottom: 2em;

    //pagina de bienvenida
        div {
            grid-area: img-w;
            img {
                width: 100%;   
                border-radius: 9rem;
            }
        }

    //Acerca de la pagina
    div {
        grid-area: subt;
        h2 {
           position: relative; 
           place-content: center;
           text-align: center;
           width: max-content;
           margin-left: 1em;
        }        
    }

    div.p-right {
        grid-area: p;
        p {
            margin: 1.5em;
            font-size: 1.5rem;
            font-family: 'Dosis';
            opacity: 0;
            transform: translateX(3rem);
            animation: fadeInLeft 2s ease calc(var(--typewriterSpeed) + 5s ) forwards;
        }
    }
    

    //seccion "miembros"
    div {
        grid-area: memb;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 25vh 1fr;
        grid-template-areas: "subti"
                        "members";   text-align: center;
        justify-content: flex-start;
        align-items: flex-start;
        div.subt-m {
            grid-area: subti;
            h2 {
                    
            }
        }
        div {
            grid-area: members;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            div {
                a {
                    img {
                        width: auto;
                        height: 55vh;

                    }
                }
                }
            }

    }

    //seccion "discografia"
    div {
        grid-area: disco;
        display: flex;
        justify-content: center;
        align-items: center;            
        }
        h2 {
            // text-align: center;
        a {
            img {
                width: auto;
                height: 25vh;
                
            }
        }
    }

.subt {
    font-family: 'Dancing Script';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

h2.animated-sub::before, h2.animated-sub::after  {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

h2.animated-sub::before {
    background: linear-gradient(32deg, rgba(218,184,211,1) 0%, rgba(205,182,219,1) 93%);
    animation: typewriter 6s steps(24) 3s forwards;
}

h2.animated-sub::after {
    width: 0.125em;
    background: black;
    animation: typewriter 6s steps(24) 3s forwards,
    blink 750ms steps(24) infinite ;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}