$font-1:  'Dancing Script' ; 
$font-2: 'Dosis' ; 

.contenido-dico {
    height: 100%;
    width: 100%;
	display: grid;
	grid-gap: 1.3em;
    padding: 4em;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, auto);

	grid-template-areas: "cov song-l videos"
						 "about galery galery"
						 ;
                         div.cov {
                            grid-area: cov;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            a {
                                img {
                                    width: max-content;
                                    height: 26em;
                                    border-radius: 1.2rem;
                                    padding: 0;
                                    
                                }
                            }
                         }
                         div.song-l {
                            grid-area: song-l;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            text-align: center;
                            ul {
                              
                               li {
                                font-family: $font-2;
                                list-style-type: none;
                                font-size: 1em;
                               }
                            }
                         }
                         aside.sidebar {
                            grid-area: videos;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            text-align: center;
                            div {
                                width: max-content;
                                    height: 24em;
                                iframe {
                                    width: max-content;
                                    height: 24em;
                                    padding: 0;
                                    margin-bottom: 1em;
                                }
                            }
                         }
                         div.widget-1 {
                            grid-area: about;
                            p {
                                font-family: $font-2;
                            }
                         } 
                         div.widget-2 {
                            grid-area: galery;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            img {
                                width: auto;
                                height: 40vh;                                
                            }
                         }
}

//clases y ids

.subt-2 {
    font-family: $font-1;
    font-size: 2em;
    padding-bottom: 1em;
}


@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "widget-1 widget-1 widget-2"
						 "footer footer footer";
	}
}