@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Dosis:wght@500&family=Noto+Serif+KR:wght@500&family=Sacramento&display=swap");
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 8%;
  background-color: #805fb6;
  min-height: 16vh; }
  header div {
    display: flex;
    align-items: center; }
    header div a img.logo {
      width: auto;
      height: 13vh;
      cursor: pointer;
      padding: 0px;
      margin-right: 20px; }
    header div h1 a {
      font-family: 'Dancing Script';
      font-size: 3rem;
      text-decoration: none;
      color: black; }
  header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 15px;
    font-family: "Dosis";
    font-size: 1.5rem;
    font-weight: 500;
    color: #5C2880; }
    header nav ul li a {
      text-decoration: none;
      list-style-type: none;
      display: inline-block;
      padding: 0px 15px;
      font-family: "Dosis";
      font-size: 1.5rem;
      font-weight: bold;
      color: #431d5e;
      transition: all 0.3s ease 0s; }
      header nav ul li a:hover {
        color: #ffffff; }

.about {
  padding: 9px 25px;
  background-color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white; }

.about:hover {
  background-color: #CFB4D6;
  color: #5C2880; }

@media only screen and (max-width: 1024px) {
  header {
    flex-direction: column;
    padding: 1em 8%; }
    header div a img.logo {
      width: auto;
      height: 10vh; }
    header div h1 {
      font-size: 3rem; }
    header nav ul li {
      font-size: 5px;
      padding-top: 10px; } }

footer {
  display: flex;
  justify-content: space-between;
  background-color: #1f2232;
  align-items: center;
  height: 16vh;
  font-style: oblique;
  text-align: right;
  color: #e3bac6; }
  footer div img {
    padding: 10px 0px 0px 10px;
    height: 15vh;
    width: auto; }
  footer div ul li {
    display: inline-block;
    padding-right: 1em;
    font-weight: bold;
    font-size: 1.5em; }
    footer div ul li a {
      text-decoration: none;
      display: inline-block;
      padding: 0px 15px;
      font-family: "Dosis";
      font-weight: bold;
      margin-right: 1em;
      color: #e3bac6; }
      footer div ul li a:hover {
        background-color: #CFB4D6;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        color: #5C2880; }

:root {
  --typewriterSpeed: 6s; }

main.main-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "img-w img-w" "subt p" " memb memb " "disco disco";
  justify-content: center;
  align-items: center;
  grid-gap: 5em;
  padding: 5em; }
  main.main-index div.img-welcome {
    grid-area: img-w; }
    main.main-index div.img-welcome img {
      width: 100%;
      border-radius: 9rem; }
  main.main-index div {
    grid-area: subt; }
    main.main-index div h2 {
      position: relative;
      place-content: center;
      text-align: center;
      width: max-content;
      margin-left: 1em; }
  main.main-index div.p-right {
    grid-area: p; }
    main.main-index div.p-right p {
      margin: 1.5em;
      font-size: 1.5rem;
      font-family: 'Dosis';
      opacity: 0;
      transform: translateX(3rem);
      animation: fadeInLeft 2s ease calc(var(--typewriterSpeed) + 5s) forwards; }
  main.main-index div#memb {
    grid-area: memb;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 1fr;
    grid-template-areas: "subti" "members";
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start; }
    main.main-index div#memb div.subt-m {
      grid-area: subti; }
    main.main-index div#memb div {
      grid-area: members;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      main.main-index div#memb div div a img {
        width: auto;
        height: 47vh; }
  main.main-index div#disco {
    grid-area: disco; }

.subt {
  font-family: 'Dancing Script';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem; }

h2.animated-sub::before, h2.animated-sub::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

h2.animated-sub::before {
  background: linear-gradient(32deg, #dab8d3 0%, #cdb6db 93%);
  animation: typewriter 6s steps(24) 3s forwards; }

h2.animated-sub::after {
  width: 0.125em;
  background: black;
  animation: typewriter 6s steps(24) 3s forwards, blink 750ms steps(24) infinite; }

@keyframes typewriter {
  to {
    left: 100%; } }

@keyframes blink {
  to {
    background: transparent; } }

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0); } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  --color-primario: #5C2880;
  --color-secundario: #c9a4e2; }

a {
  display: block; }

p a {
  display: inline; }

li {
  list-style-type: none; }

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  padding: 0px 50px 25px 50px; }

html {
  scroll-behavior: smooth; }

::selection {
  background-color: var(--color-primario);
  color: var(--color-secundario); }

/*END RESET*/
main {
  height: auto;
  background: linear-gradient(55deg, #fccfba 0%, #d3b3d8 50%, #9fc9ef 100%); }
