* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background-image: linear-gradient(32deg, rgba(250,203,185,1) 0%, rgba(221,176,209,1) 50%, rgba(162,200,236,1) 100%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 70px ;
    grid-template-areas: "header"
                        "main"
                        "footer" ;

}

header {
    background-color: aqua;
    grid-area: header;
    height: 15vh;
}

footer {
    background-color: antiquewhite;
    grid-area: footer;
    height: 15vh;
}

main {
    height: 70vh;
    grid-area: main; 
    margin: 40px;
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "b1 b2 b3"
                        "b4 b5 .";
    column-gap: 20px ;
    row-gap: 20px ;
    align-items: center;
    justify-items: center;
    
}
.box1 {
    
    grid-area: b1;
}
.box2 {
    
    grid-area: b2;
}
.box3 {
    
    grid-area: b3;
}
.box4 {
    
    grid-area: b4;
}
.box5 {
   
    grid-area: b5;
}

.cover img{
    height: 250px;
    width: auto;
}
 
div.cover {
    transform: perspective(1500px) rotateY(25deg);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 1s ease 0s;
 }  
    div:hover.cover {
      transform: perspective(3000px) rotateY(5deg);
    }
 
      